*.blend filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.kra filter=lfs diff=lfs merge=lfs -text
src/assets/2025-postlaunch/pages/*.jpg filter=lfs diff=lfs merge=lfs -text
